.order-descriptor {
  display: flex;
  height: 26px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.order-descriptor .order-number {
  width: 15%;
}

.order-descriptor .order-time {
  width: 35%;
}

.order-descriptor .order-status {
  margin-left: auto;
}

.order-descriptor .order-processed {
  margin-left: auto;
}
