.active-operator-status {
  text-align: center;
  min-width: 100px;
  padding-left: 12px;
  padding-right: 12px;
}

.active-operator-status span {
  margin-right: 4px;
}

.active-operator-status span:last-of-type {
  margin-right: 0;
}

.active-operator-status .active-status-icon {
  color: rgb(140, 140, 150);
}
