.active-room-status {
  min-width: 100px;
  padding-left: 12px;
  padding-right: 6px;
}

.active-room-status span {
  margin-right: 4px;
}

.active-room-status > .active-room-status-data {
  display: flex;
  align-items: center;
}

.active-room-status .active-room-exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  color: rgb(140, 140, 150);
  font-size: 14px;
  border-radius: 100%;
  border: 2px solid rgb(140, 140, 150);
}

.active-room-status .active-room-exit-button:hover {
  cursor: pointer;
  color: #484848;
}
